<div class="panel panel-default">
	<div class="panel-heading">User Data</div>
	<div class="panel-body">
		<form>
			<div class="form-group">
				<label>Name:</label>
				<input class="form-control" ng-model="user.name" />
				{{user.name}}
			</div>
			<div class="form-group">
				<label>City:</label>
				<input class="form-control" ng-model="user.city" />
				{{user.city}}
			</div>
			<div class="form-group">
				<label>Country:</label>
				<input class="form-control" ng-model="user.country" />
				{{user.country}}
			</div>
		</form>
	</div>
</div>